{% extends "base.html" %}

{% block head %}
<title>{{create}}</title>
{% endblock head %}

{% block content %}
<div class="content" style="margin:20px">
<form action="." method="POST">
    {% csrf_token %}
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input class="input" type="text" placeholder="Title input" name="title">
        </div>
    </div>

    <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea class="textarea" placeholder="Body" name="body" rows="18"></textarea>
        </div>
    </div>

    <div class="field">
        <label class="label">tags</label>
        <div class="control">
            <input class="input" type="text" placeholder="tags input(english ,)" name="tags">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" name="is_public">
                show this post to everyone?
            </label>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" type="submit">Submit</button>
        </div>
    </div>
</form>
</div>
{% endblock content %}